/* partie commune (debut)*/
*{
    margin: 0%;
    color: white;
    background-color: black;
}

.titre{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    border-top: solid rgb(66, 66, 66) 6px;
    
    padding-top: 0.67em;
    padding-bottom: 0.67em;
}

.nav{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    border-bottom: solid rgb(66, 66, 66) 6px;
    padding-bottom: 1.2em;
}

.nav , .titre{
    border-left: solid rgb(66, 66, 66) 6px;   
    border-right: solid rgb(66, 66, 66) 6px;

}

#menu::first-letter{
    text-transform: uppercase;
}

div div #menu{
    text-decoration: none;
    color: white;
    font-size: 1.459em;
}

a{
    width: fit-content;
    border: solid white 1px;
    padding: 5px;
    border-radius: 10px;
}

/* partie commune (fin)*/

table{
    position: absolute;
    left: 34%; top: 35%;
}

table, td{
    border: solid 1px white;
    text-align: center;
}

.lsttableau{
    font-weight:600;
}